<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>首页</title>
    <meta charset="UTF-8" />
    <link rel="icon" th:href="@{/static/img/favicon.ico}" type="image/x-icon"/>
    <script th:inline="javascript">
        var contextPath = "http://127.0.0.1:8000/";
        var interceptorToken = [[${token}]];
        var interceptorUserId = [[${userId}]];
    </script>
    <script th:src="@{/static/jquery-1.7.1.min.js}"></script>
    <script th:src="@{/static/myFun.js}"></script>
    <script th:inline="javascript">
        function a1() {
            var res = ajaxSynchGet("rose-content-server-a/user/test/a1", null);
            if (res.code == 200) {
                $("#a1").html(res.data.response);
            } else {
                $("#a1").html(res.msg);
            }
        }
        function a2() {
            var res = ajaxSynchGet("rose-content-server-a/user/test/a2", {"param1": 111, "param2": "222"});
            if (res.code == 200) {
                $("#a2").html(res.data.response);
            } else {
                $("#a2").html(res.msg);
            }
        }
        function a3() {
            var res = ajaxSynchGet("rose-content-server-a/user/test/a3", null);
            if (res.code == 200) {
                $("#a3").html(res.data.response);
            } else {
                $("#a3").html(res.msg);
            }
        }
        function a4() {
            var res = ajaxSynchGet("rose-content-server-a/user/test/a4", null);
            if (res.code == 200) {
                $("#a4").html(res.data.response);
            } else {
                $("#a4").html(res.msg);
            }
        }
    </script>
</head>
<body>
    <br/><br/><br/>

    <span>调用过程描述：请求  ->  网关  ->  a服务a1接口</span> <br/><br/>
    <input type="button" value="a1按钮" onclick="a1()"/> <br/><br/>
    <span id="a1"></span>
    <br/> <hr/>

    <span>调用过程描述：请求  ->  网关  ->  a服务a2接口  ->  以 feign结合ribbion作负载均衡 方式  ->  b服务b2接口</span> <br/><br/>
    <input type="button" value="a2按钮" onclick="a2()"/> <br/><br/>
    <span id="a2"></span>
    <br/> <hr/>

    <span>调用过程描述：请求  ->  网关  ->  a服务a3接口  ->  以 restTemplate结合ribbion负载均衡 方式  ->  b服务b2接口</span> <br/><br/>
    <input type="button" value="a3按钮" onclick="a3()"/> <br/><br/>
    <span id="a3"></span>
    <br/> <hr/>

    <span>调用过程描述：请求  ->  网关  ->  a服务a4接口  ->  以 restTemplate非载均衡直连方式  ->  b服务b2接口</span> <br/><br/>
    <input type="button" value="a4按钮" onclick="a4()"/> <br/><br/>
    <span id="a4"></span>
    <br/> <hr/>
</body>
</html>